.hero_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todoItems {
  margin: 20px 20px;
  color: #858892;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.9rem;
  width: 188px;
  word-wrap: break-word;
}
.todoItems_Checked {
  color: #c2c4c4;
}
.button {
  position: relative;
  right: 10px;
  border-radius: 50%;
  height: 21px;
  width: 21px;
  outline: none;
  border: 2.3px solid #cccaca;
  background-color: #fff;
  cursor: pointer;
}
.button:hover {
  border-color: #50e3a4;
}
.btn_checked {
  background-color: #50e3a4;
  border-color: #3ebd86;
}
